################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ApplicationInsights/Microsoft.Azure.Batch.Samples.TelemetryInitializer/bin/Debug/net462
/ApplicationInsights/Microsoft.Azure.Batch.Samples.TelemetryInitializer/obj
/ApplicationInsights/Microsoft.Azure.Batch.Samples.TelemetryStartTask/bin/Debug/net462
/ApplicationInsights/Microsoft.Azure.Batch.Samples.TelemetryStartTask/obj
/ApplicationInsights/TopNWords/bin/Debug/net462
/ApplicationInsights/TopNWords/obj
/Common/obj
/Common/bin/Debug/net462
/ApplicationInsights/.vs/ApplicationInsights/v15/Server/sqlite3/db.lock
/ApplicationInsights/.vs/ApplicationInsights/v15/Server/sqlite3
